{% extends 'base.html.twig' %}

{% block main %}

        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Newest Posts</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row">
                    <div class="col-md-6">
                        <a href="blog-single.html" class="blog-entry element-animate" data-animate-effect="fadeIn">
                            <img src="images/img_6.jpg" alt="Image placeholder">
                            <div class="blog-content-body">
                                <div class="post-meta">
                                    <span class="category">Travel</span>
                                    <span class="mr-2">March 15, 2018 </span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                </div>
                                <h2>There’s a Cool New Way for Men to Wear Socks and Sandals</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                <li class="page-item  active"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row mb-5 mt-5">
                    <div class="col-md-12">
                        <h2 class="mb-4"> Our Top Creators</h2>
                    </div>

                    <div class="col-md-4" style="text-align: center">
                        <a href="blog-single.html" class="blog-entry element-animate" data-animate-effect="fadeIn">
                            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                            <h3 >John Smith

                            </h3>
                            <div class="post-meta">
                                <span class="mr-2">Posts: </span>
                                <span class="ml-2">Joined: </span>
                            </div>
                        </a>

                        <!-- END post -->

                    </div>
                </div>
            </div>

    <!-- END main-content -->
{% endblock %}
            {% block searchbar  %}
            <form action="#" class="search-form">
                <div class="form-group">
                    <span class="icon fa fa-search"></span>
                    <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                </div>
            </form>
            {% endblock %}


