{% extends 'base.html.twig' %}
{% block main %}
    <div class="row mb-4">

    </div>
    <div class="row blog-entries">
        <div class="col-md-12 col-lg-8 main-content">
            <div class="row mb-5 mt-5">

                <div class="col-md-12">
                    <div class="bio text-center">

                        <img src="images/person_1.jpg" alt="Image Placeholder" class="img-fluid">
                        <div class="col-md-12">
                            <h2 class="mb-4">Name</h2>

                        </div>
                        <div class="bio-body">

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                            <div data-spy="scroll" class="tabbable-panel">
                                <div class="tabbable-line">
                                    <ul class="nav nav-tabs ">
                                        <li class="active">
                                            <a href="#tab_default_1" data-toggle="tab">
                                                About &nbsp </a>
                                        </li>
                                        <li>
                                            <a href="#tab_default_2" data-toggle="tab">
                                                Education & Career &nbsp</a>
                                        </li>
                                        <li>
                                            <a href="#tab_default_3" data-toggle="tab">
                                                Favorite Topics &nbsp</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_default_1">

                                            <p>
                                                My daughter  is good looking, with pleasant personality, smart, well educated, from well cultural and  a religious family background. having respect in heart for others.
                                                would like to thanks you for visiting through my daughter;s profile.
                                                She has done PG in Human Resources after her graduation.
                                                At present working IN INSURANCE sector as Manager Training .
                                            </p>
                                            <h4>About her Family</h4>
                                            <p>
                                                About her family she belongs to a religious and a well cultural family background.
                                                Father - Retired from a Co-operate Bank as a Manager.
                                                Mother - she is a home maker.
                                                1 younger brother - works for Life Insurance n manages cluster.
                                            </p>
                                            <h4>Education </h4>
                                            <p>I have done PG in Human Resourses</p>
                                            <h4>Occupation</h4>
                                            <p>At present Working in Insurance sector</p>

                                        </div>
                                        <div class="tab-pane" id="tab_default_2">
                                            <p>
                                                Education& Career
                                            </p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="email">Highest Education:</label>
                                                        <p> MBA/PGDM</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>

                                                </div>
                                            </div>



                                        </div>
                                        <div class="tab-pane" id="tab_default_3">
                                            <p>
                                                Favorite Topics
                                            </p>
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_default_4">
                                            <p>
                                                Lifestyle

                                            </p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="email">Highest Education:</label>
                                                        <p> MBA/PGDM</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Place of Birth:</label>
                                                        <p> pune, maharashtra</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}